@keyframes bounce-left {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateX(-100px);
	}

	24% {
		opacity: 0.5;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateX(-26px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateX(-13px);
		opacity: 0.8;
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateX(-6.5px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateX(-4px);
	}

	25%,
	55%,
	75%,
	87%,
	98% {
		animation-timing-function: ease-out;
		transform: translateX(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0px);
	}
}
.bounce-left{
    animation: bounce-left 3s linear 0s 1 normal forwards;
}
@keyframes fade-in-center {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.fade-in-center {
    animation: fade-in-center 1s ease-in 0s 1 normal forwards;
}